name: Lint JavaScript

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/lint-javascript.yml'
      - 'guest-js/**'
      - '.eslintignore'
      - '.eslintrc.json'
      - '.prettierignore'
      - '**/package.json'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/lint-javascript.yml'
      - 'guest-js/**'
      - '.eslintignore'
      - '.eslintrc.json'
      - '.prettierignore'
      - '**/package.json'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  biome-lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          run_install: false

      - uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          registry-url: 'https://registry.npmjs.org'
          cache: 'pnpm'

      - run: pnpm i --frozen-lockfile
      - name: biome
        run: pnpm lint
